:root {
  --main-color: #f9b93a;
  --txt-color: #565252;

  --bea-red: #ef3f43;
  --bea-purple: #7455b2;
  --bea-turquoise: #2bb0e6;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 4rem;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Zen Maru Gothic', sans-serif;
  color: var(--txt-color);
}

.bea-logo {
  max-width: 4rem;
}

.text-main {
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
}

/* @media (min-width: 640px) {
  .asfsdafds {
    font-size: 50px;
  }
} */

/* NAVBAR */

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--txt-color);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--main-color);
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--main-color);
}

/* end navbar  */

/* CAROUSEL */

#intro-carousel .intro-slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('slide1.jpeg') !important;
}

#intro-carousel .carousel-item {
  height: 60vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro-carousel .carousel-caption h2 {
  font-size: 1.5rem;
  color: var(--main-color);
}

#intro-carousel .carousel-caption p {
  font-size: 0.9rem;
}

#intro-carousel .carousel-caption .bea-btn {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  margin-bottom: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  margin-left: .5rem;
  border-radius: 50% !important;
  /* background-color: var(--main-color); */
}

/* end carousel */

.border-top {
  border-top: 4px solid var(--main-color) !important;
}

.border-bottom {
  border-bottom: 4px solid var(--main-color) !important;
}

.bea-hr-sm {
  border: 1px solid var(--main-color);
  border-radius: 0.3rem;
  width: 100px;
  margin: 1.5rem auto;
}

.img-thumbnail {
  padding: 0.5rem;
  border: 2px solid var(--main-color) !important;
  border-radius: 1rem;
}

/* .bea-hr-divider {
  border: 1px solid var(--main-color);
  border-radius: 0.3rem;
  width: calc(100% - 30px);
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 576px) {
  .bea-hr-divider {
    max-width: 540px;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 768px) {
  .bea-hr-divider {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .bea-hr-divider {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .bea-hr-divider {
    max-width: 1140px;
    ;
  }
} */

/* collezione */

#collezione .bea-box {
  position: relative;
  border-radius: 1rem;
}

.static-overlay {
  background: rgba(0, 0, 0, 0.5);
}

#collezione .bea-box-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-style: italic;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  z-index: 1;
}

#collezione .bea-box:hover .bea-box-txt {
  opacity: 0;
}

#collezione .bea-box-overlay {
  position: absolute;
  overflow: hidden;
  background-color: var(--main-color);
  border-radius: 1rem;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#collezione .bea-box:hover .bea-box-overlay {
  opacity: 1;
  z-index: 1;
}

#collezione .bea-box-fadeIn-left {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
}

#collezione .bea-box:hover .bea-box-fadeIn-left {
  left: 0;
  width: 100%;
}

#collezione .bea-box-fadeIn-top {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
}

#collezione .bea-box:hover .bea-box-fadeIn-top {
  height: 100%;
}

#collezione .bea-box-fadeIn-right {
  left: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
}

#collezione .bea-box:hover .bea-box-fadeIn-right {
  left: 0;
  width: 100%;
}

#collezione .bea-box-details {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}

#collezione .bea-box-details h3 {
  color: white !important;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

#collezione .bea-box-details a {
  font-size: 1.1rem;
  color: var(--bea-purple);
  margin-bottom: 0.5rem;
}

#collezione .bea-box-details img {
  width: 5rem;
}

/* end collezione */

/*  */

#come-ordinare ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#come-ordinare .timeline {
  position: relative;
  border-left: 3px solid var(--main-color);
}

#come-ordinare .timeline::after {
  content: "";
  position: absolute;
  top: 33%;
  left: -3%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  #come-ordinare .timeline {
    border-left: none;
    border-bottom: 3px solid var(--main-color);
  }

  #come-ordinare .timeline::after {
    top: 98%;
    left: 45%;
  }
}

/* FORM */
#contact-form .form-control {
  border: 2px solid var(--main-color);
}

#contact-form .bea-btn {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#contact-form .btn-primary,
#contact-form .btn-primary:hover {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}


#contact-form .btn-primary:focus,
#contact-form .btn-primary.focus {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

#contact-form .btn-primary.disabled,
#contact-form .btn-primary:disabled {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*  */

/* container social */

.fa-brands:hover {
  opacity: 0.3;
}

.fa-facebook {
  color: #3B5998;
}

.fa-youtube {
  color: red !important;
}

.fa-instagram {
  color: #f09433;
  color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.container-social {
  text-align: center;
  padding: 1em;
  /*  border: 1px solid red;*/
}

.container-social a {
  font-size: 2.5rem;
  text-decoration: none !important;
  width: 50px !important;
  height: 50px !important;
  display: inline-block;
  margin-right: 1rem;
}

/* footer */
.copyright {
  padding: 1rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.fa-heart {
  color: var(--main-color);
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}


/*  */
#works .btn-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--txt-color);
  text-underline-offset: 0.25rem;
}

#works .btn-link:hover {
  color: var(--main-color);
}

#works .btn.bea-active {
  color: var(--main-color);
  text-decoration: underline;
}

.btn-outline-dark {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*  */
/* Hide all elements by default */
.bea-item {
  display: none !important;
}

/* added to the filtered elements */
.bea-show {
  display: block !important;
}

/*  */

.rota-left {
  transform: rotate(-5deg);
  transition: transform .4s;
}

.rota-right {
  transform: rotate(5deg);
  transition: transform .4s;
}

.zoom {
  border-radius: 1rem;
  /* margin: 0 auto !important; */
  transition: transform .4s;
}

.rota-left:hover,
.rota-right:hover {
  transform: rotate(0deg);
}

.zoom:hover {
  transform: scale(1.3);
  z-index: 1;
}